
<br /><br />
<%= render :partial=>"landing/inspire"%>
<div style="position:absolute; bottom:20px; left:0px; text-align:center; width:100%;">
	<div style="cursor:pointer;" id="loginsignup">
		<%=image_tag "loginsignup.png"%>
	</div>
</div>
<br /><br />
<br /><br />
<div id="join_container">
<div id="join_form">
<br /><br />
<br /><br />
<br /><br />
<br /><br />

	<%= form_tag({:controller=>:login, :action=>:signup}, :remote=>true) do%>
	<input type="hidden" id="time_zone" name="tz_offset">
	<table>
		<tr>
			<td>
				<div class="signup_field_entry login_name">
					<div id="login_tip" class="input_tip tip" style="display:none;">
						<div class="text">Login or create a new account! Start with your name!</div>
						<div class="arrow-down"></div>
					</div>
					<%=render :partial=>"landing/server_message"%>

					<input id="login_input" type="text" name="email" placeholder="Name" required>
				</div>
			</td>
			<td>
				<div class="signup_field_entry">
					<div id="password_tip" class="input_tip tip" style="display:none;">
						<div class="text">Your login password, or a password for a new account!</div>
						<div class="arrow-down"></div>
					</div>
					<input id="password_input" type="password" name="password" placeholder="Password" required>
				</div>
			</td>
			<td><div class="form_submit"><%=submit_tag "Sign Up"%></div></td>
		</tr>
	</table>
	<% end %>
</div>
</div>

<script>	
	updateTitle("Signup!");
	setupScene(1);
	document.getElementById('thebod').style.overflow = "hidden";
	$('time_zone').value = (-(new Date().getTimezoneOffset())).toString();
</script>