<h1>Timetrack.</h1>
<%if flash[:notice] != nil%>
	<span style="color:red;"><%=flash[:notice]%> </span>
<%end%>

<div id="login_form">
	<%= form_tag("/login/login")%>
		<div class="login_field_entry"> <input type="text" placeholder="Email" name="email" required> </div>
		<div class="login_field_entry"> <input type="password" name="password" placeholder="Password" required></div>
		<div class="form_submit"><%=submit_tag "Login"%></div>
	
	</form>
</div>

<br />
<br />
<br />
<br />
<br />


<div id="join_form">
<div><center>
	<table>
	<tr>
	<%= form_tag("/login/signup")%>
		<td><div class="signup_field_entry"> <input type="text" name="name" placeholder="Name" required></div></td>
		<td><div class="signup_field_entry"> <input type="password" name="password" placeholder="Password" required> </div></td>
		<td><div class="form_submit"><%=submit_tag "Sign Up"%></div></td>
	</form>
	</tr>
	</table>
	</center>
</div>
</div>


