<%if @user.emails.length < 1%>
You have to link an email address to begin.
<%end%>
<%for email in @user.emails%>

<table class="<%= cycle('even','odd') %>">
	<tr>
		<td class="image">
			<div>
				<%= link_to( image_tag( gravatar_url( email.address, {:size=>"50", :rating=>"pg"} ) ),
					     {:controller=>"profile", :action=>"set_default_email", :id=>email.id, :remote=>"true"}
					    )
				%>
			</div>
		</td>
		<td class="address"><div ><%=email.address%> <%=email.verified%></div></td>
		<td class="controls"><div><%=link_to("[delete]", { :controller=>"profile", :action=>"unlink_email", :id=>email.id, :remote=>"true" })%></div></td>
	</tr>
</table>
<!-- <tr><td colspan=3><%=email.verification%></td></tr> -->
<%end%>

<div class="link_email">
	<% form_for :email, {:controller=>"profile", :action=>"link_email", :remote=>true} do |f|%>
		<%=f.hidden_field :id%>
		<%=f.hidden_field :user_id%>
		<%=f.text_field :address%>
		<%=submit_tag "Link Email"%>
	<%end%>
</div>
